@charset "utf-8";
/*页头*/
header {
	min-width: 1280px;
	height: 57px;
}
.logo {
	float: left;
	width: 104px;
	margin-left: 59px;

	font-size: 21px;
	font-family: "黑体", sans-serif;
	line-height: 57px;
	text-align: right;
	color: #393a3a;	

	background: url(../images/logo_03.png) no-repeat left center;
}
.nav_list {
	float: right;
	list-style: none;
}
.nav_list li {
	text-align: center;
	float: left;
	width: 65px;
	margin-right: 37px;

	font-size: 14px;
	color: #787b83;	
	line-height: 52px;

	cursor: pointer;
}
.nav_list li.select {
	border-bottom: 6px #e74f4d solid;
}
.nav_list li:first-child {
	margin-right: 24px;
}
.nav_list li:last-child {
	width: 47px;
	margin-right: 67px;
	margin-left: -11px;

	text-align: right;
	color: #e74f4d;
	
	background: url(../images/nav_03.png) no-repeat left center;
}
.nav_list li:hover {
	color: #e74f4d;
}


/*内容*/
div.content {
	min-width: 1278px;
	border: 1px #cacbd3 solid;
}
/*part1*/
.part1 {
	text-align: center;
}
/*banner*/
.banner {
	position: relative;
}
.banner img {
	width: 100%;
	display: block;
}
.part1-text {
	position: absolute;
	top: 229px;
	left: 117px;

	text-align: left;
}
.part1-text h1 {
	font-size: 60px;
	font-weight: normal;

	margin-bottom: 29px;
}
.part1-text p {
	font-size: 21px;
	font-weight: normal;
	line-height: 32px;

	width: 298px;
}
.part1-text button {
	margin-top: 64px;
	border: none;
	width: 311px;
	height: 64px;

	font-size: 30px;
	color: #fff;
	font-family: "微软雅黑", sans-serif;
	line-height: 64px;

	background: #e74f4d;
	cursor: pointer;
}
/*part1-bottom*/
.part1-bottom {
	border-top: 1px #ebeef2 solid;
	height: 249px;
	width: 1278px;
	margin: 0 auto 0;
}
.part1-bottom div {
	height: 249px;
	float: left;
}
.part1-bottom div img {
	margin-top: 44px;
}
.part1-bottom div p {
	font-size: 14px;
	font-family: "黑体", sans-serif;
	line-height: 18px;
	color: #767777;

	width: 154px;
	height: 52px;
	border-right: 1px #aba6a5 solid;
	padding-right: 82px;
}
.part1-bottom-319 {
	width: 319px;
}
.part1-bottom-320 {
	width: 320px;
}
.part1-bottom-319 p {
	margin: 48px 0 0 82px;
}
.part1-bottom-320 p {
	margin: 48px 0 0 83px;
}
.part1-bottom div:last-child p {
	border: none;
}




/*页尾*/
footer {
	min-width: 1280px;
	height: 416px;
	background: #32353e;
}