@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, button {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑", sans-serif;
  color: #fff;
}
img {
  border:none;
}
li {
  list-style: none; 
}
input, select, textarea {
  outline: none; 
  border: none;
  background:none;
}
button {
  border: none;
  outline-style: none;
}
textarea {
  resize: none; 
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix{
  zoom:1;
}